{ 

  :env {
    :dev {
      :min-conn 5
      :max-conn 10
      :conn-string ("127.0.0.1:10017" "127.0.0.1:10027" "127.0.0.1:10037")
      :thread-count 16
      :thread-wait 1000
      :channel-timeout 5000
      :type "entities"
      :bucket "entities"
    }
    :prod {
      :min-conn 16
      :max-conn 64
      :conn-string ("172.31.21.56:10017" "172.31.21.55:10017" "172.31.21.54:10017")
      :thread-count 64
      :thread-wait 1000
      :channel-timeout 5000
      :type "entities"
      :bucket "entities"
    }
  }
};end
