{ 
  :json-keys {
    :cpcs             ("doc_number" "section" "class" "subclass" "main-group" "subgroup")
    :entities         ("entity_id")
    :entities_patents ("entity_id" "doc_number")
    :ipcs             ("doc_number" "section" "class" "subclass" "main-group" "subgroup")
    :patents          ("doc_number")
  }
  :key-extension ".json"
  :env {
    :dev {
      :min-conn 10
      :max-conn 15
      :conn-string ("127.0.0.1:10017" "127.0.0.1:10027" "127.0.0.1:10037")
      :thread-count 6
      :thread-wait 1000
      :channel-timeout 5000
    }
    :prod {
      :min-conn 16
      :max-conn 64
      :conn-string ("172.31.21.56:10017" "172.31.21.55:10017" "172.31.21.54:10017")
      :thread-count 32
      :thread-wait 5000
      :channel-timeout 10000
    }
  }
};end
